<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oyxh.map.dao.GeometryDao">
	<insert id="save" parameterType="com.oyxh.map.domain.GeometryDO"
		useGeneratedKeys="true" keyProperty="geometryId">
		insert into sys_geometry
		(
		`geometry_name`,
		`user_id`,
		`geometry_des`
		)
		values
		(
		#{geometryName},
		#{userId},
		#{geometryDes}
		)
	</insert>
		
	<update id="update" parameterType="com.oyxh.map.domain.GeometryDO">
		update sys_geometry
		<set>
			<if test="geometryName != null">`geometry_name` = #{geometryName}, </if>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="geometryDes != null">`geometry_des` = #{geometry_des}, </if>
		</set>
		where geometry_id = #{geometryId}
	</update>
	
	<update id="batchUpdate" parameterType="com.oyxh.map.domain.GeometryDO">
        update sys_geometry
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="geometry_name =case" suffix="end,">
                 <foreach collection="list" item="item" index="index">
                     <if test="item.geometryName !=null ">
                         when geometry_id=#{item.geometryId} then #{item.geometryName}
                     </if>
                     <if test="item.geometryName == null ">
                         when geometry_id=#{item.geometryId} then sys_geometry.geometryName  
                     </if>
                 </foreach>
            </trim>
            <trim prefix="geometry_des =case" suffix="end,">
                 <foreach collection="list" item="item" index="index">
                     <if test="item.geometryDes !=null ">
                         when geometry_id=#{item.geometryId} then #{item.geometryDes}
                     </if>
                     <if test="item.geometryDes == null ">
                         when geometry_id=#{item.geometryId} then sys_geometry.geometry_des
                     </if>
                 </foreach>
            </trim>
             <trim prefix="geometry_data =case" suffix="end,">
                 <foreach collection="list" item="item" index="index">
                     <if test="item.geometryData  !=null ">
                         when geometry_id=#{item.geometryId} then #{item.geometryData}
                     </if>
                     <if test="item.geometryData  == null ">
                         when geometry_id=#{item.geometryId} then sys_geometry.geometry_data
                     </if>
                 </foreach>
            </trim>
        </trim>
        where geometry_id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.geometryId,jdbcType=BIGINT}
        </foreach>
	</update>
	
	<resultMap id="geometryResultMap" type="com.oyxh.map.domain.GeometryDO">
	    <id column="geometry_id" jdbcType="BIGINT" property="geometryId" />
	    <result column="geometry_name" jdbcType="VARCHAR" property="geometryName" />
	    <result column="is_background" jdbcType="VARCHAR" property="isBackground" />
	    <result column="geometry_des" jdbcType="VARCHAR" property="geometryDes" />
	    <result column="geometry_class" jdbcType="VARCHAR" property="geometryClass" />
	    <result column="layer_id" jdbcType="BIGINT" property="layerId" />
	    <result column="user_id" jdbcType="BIGINT" property="userId" />
	    <collection property="geometryData" ofType="com.oyxh.map.common.utils.Point" > 
	        <result column="lng" jdbcType="VARCHAR" property="lng" />
	         <result column="lat" jdbcType="VARCHAR" property="lat" />
	    </collection>
	</resultMap>
	<select id="list" resultType="com.oyxh.map.domain.GeometryDO">
		select
		`geometry_id`,`geometry_name`,`is_background`,`geometry_des`,`geometry_class`,`layer_id`,`user_id`,`geometry_data`
		from sys_geometry
		<where>
			<if test="geometryId != null and geometryId != ''"> and geometry_id = #{geometryId} </if>
			<if test="geometryName != null and geometryName != ''"> and geometry_name = #{geometryName} </if>
			<if test="userId != null and userId != ''"> and user_id = #{userId} </if>
			<if test="geometryDes != null and geometryDes != ''"> and geometry_des = #{geometry_des} </if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by geometry_id desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

    <delete id="remove">
		delete from sys_geometry where geometry_id = #{value}
	</delete>
	
	 <delete id="removelayer">
		delete from sys_geometry where layer_id = #{value}
	</delete>
	
	
	<delete id="batchRemove">
		delete from sys_geometry where geometry_id in
		<foreach item="geometryId" collection="array" open="(" separator=","
			close=")">
			#{geometryId}
		</foreach>
	</delete>

</mapper>