<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oyxh.map.dao.LayerDao">
	<insert id="save" parameterType="com.oyxh.map.domain.LayerDO"
		useGeneratedKeys="true" keyProperty="layerId">
		insert into sys_layer
		(
		`layer_name`,
		`user_id`,
		`layer_des`
		)
		values
		(
		#{layerName},
		#{userId},
		#{layerDes}
		)
	</insert>
	
	<update id="update" parameterType="com.oyxh.map.domain.LayerDO">
		update sys_layer
		<set>
			<if test="layerName != null">`layer_name` = #{layerName}, </if>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="layerDes != null">`layer_des` = #{layerDes}, </if>
			<if test="layerData != null">`layer_data` = #{layerData}, </if>
		</set>
		where layer_id = #{layerId}
	</update>

	<select id="list" resultType="com.oyxh.map.domain.LayerDO">
		select
		`layer_id`,`layer_name`,`user_id`,`layer_des`,`layer_data`
		from sys_layer
		<where>
			<if test="layerId != null and layerId != ''"> and layer_id = #{layerId} </if>
			<if test="layerName != null and layerName != ''"> and layer_name = #{layerName} </if>
			<if test="userId != null and userId != ''"> and user_id = #{userId} </if>
			<if test="layerDes != null and layerDes != ''"> and layer_des = #{layerDes} </if>
			<if test="layerData != null and layerData != ''"> and layer_des = #{layerData} </if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by layer_id desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

    <delete id="remove">
		delete from sys_layer where layer_id = #{value}
	</delete>

</mapper>